.input-field {
    padding: 0;
}
.input-item {
    border-radius: 0;
}
.search-input-button{
    background-color: rgb(112, 175, 194);
    color: white;
    border-radius: 0; 
    border: 1px solid rgb(112, 175, 194);
}
.search-input-button:hover{
    background-color: rgb(54, 134, 159);
    border: 1px solid rgb(54, 134, 159);
}